#hero {
    background-color: violet;

}


nav {
    margin: 0 3%;
}

.green {
    background-color: lightgreen;
    color: white;
    border-color: lightgreen;
    border-radius: 5px;
}

.normal {
    border-color: lightgray;
    border-radius: 5px;
}


.notification-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.account-dropdown {
    width: 15%;
    height: 15%;

}

main section:first-child div div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.star {
    color: rgb(255, 238, 0);

}

.author {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    margin-top: 10px;

}


.author div img {
    border-radius: 50%;


}

.author div {
    width: 15%;

}

.author div div img {
    width: 100%;

}

.author div div {
    width: 15%;
}


footer .nav-link {
    color: inherit;
    padding-top: 0;
    padding-bottom: 0;
}



footer .nav-link:hover,
{
    color: #754ffe;
}



.border {
    border: 2px solid white !important;

}

.gray {
    color: rgb(159, 160, 160);
}

.img-container {
    border-radius: 50%;
    height: 3.5rem;

}

.dropdown-menu {
    width: 15rem;

}

.bookmark-container {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
}

.bookmark,
.bookmark-fill {
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
}

.bookmark-fill {
    opacity: 0;
}

.bookmark-container:hover .bookmark {
    opacity: 0;
}

.bookmark-container:hover .bookmark-fill {
    opacity: 1;
}



.card {
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 1.5em;


}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.carousel-control-prev,
.carousel-control-next {
    background-color: lightgray;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%);
}

    {}

.size {
    width: 4rem;
    height: 4rem;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: auto;
    }
}

.row>* {
    padding-right: 0;
}

.navbar-nav {
    flex-direction: row;

}

.card div p:first-child {
    font-weight: bold;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 0;
}